:root {
	--white: #fff;
	--gray: #dddddd;
	--black: #000000;
	--red: #E40000;
	--red-smooth: #E8A0B1;
}

:focus {
	outline: transparent;
	box-shadow: 0 0 0 2px var(--green-500);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--gray);
	color: var(--black);
	-webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}